<div id="container">
    <h1>Name: @ViewBag.SingleSundae.Name</h1>
    <h1>Flavor: @ViewBag.SingleSundae.Flavor</h1>
    <h1>Scoops: @ViewBag.SingleSundae.Scoops</h1>
    <h1>Sauce: @ViewBag.SingleSundae.Sauce</h1>
    <h1>Topping: @ViewBag.SingleSundae.Topping</h1>
</div>